<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyboard</key>
	<dict>
		<key>Home</key>
		<dict>
			<key>user/studydaily</key>
			<string>YXStudyReportViewController</string>
			<key>word/list</key>
			<string>YXWordListViewController</string>
			<key>setting/feedback</key>
			<string>YWFeedbackViewController</string>
			<key>word/detail</key>
			<string>YXWordDetailViewControllerNew</string>
		</dict>
	</dict>
	<key>exercise/study</key>
	<string>YXExerciseViewController</string>
	<key>setting/report</key>
	<string>YWReportViewController</string>
	<key>global/web</key>
	<string>YWWebViewController</string>
	<key>feedback/message</key>
	<string>YXFeedbackListViewController</string>
</dict>
</plist>
